/* General styles */
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: justify;
	text-align-last: left;
}

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
}

.skill {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titlePage {
	text-align: left;
	font-size: 38px;
	padding: 2px;
}

/* Project section styles */
.project {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 40px;
}

.description {
	flex: 1;
	padding: 20px;
	text-align: justify;
	text-align-last: left;
}

.project_img {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}

.project_img img {
	max-width: 100%;
	max-height: 300px; /* Adjust the height of the images as desired */
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projectButton {
	display: flex;
	justify-content: flex-start;
}

.projectButton button {
	margin-right: 10px;
}

/* Grid of icons styles */
.icons {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.icons img {
	width: 50px;
	height: 50px;
}

.icons p {
	margin-top: 5px;
	font-size: 12px;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  .project_img {
    justify-content: center;
  }

  .project_img img {
    max-width: 80%;
  }

  .skills {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill {
    width: 50px;
    height: 50px;
  }

  .imageGrids {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .mapping {
    width: 50%;
    padding: 10px;
  }
}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
  .description,
  .project_img,
  .imageGrids {
    padding: 5px;
  }

  .project_img img {
    max-height: 200px;
  }

  .projectButton {
    flex-direction: column;
    align-items: center;
  }

  .projectButton button {
    margin-bottom: 10px;
  }

  .skills {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill {
    width: 40px;
    height: 40px;
  }

  .icons {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    margin-top: 10px;
  }

  .icons img {
    width: 30px;
    height: 30px;
  }
}
